{% extends 'basic.html' %}
{% block title%} Learn A/B {% endblock %}

{% block body %}
<style>
.bg-light-main {
    background-color: rgb(249,250,255);
}

.card-body {
    overflow: hidden;

}


</style>
<div class="card bg-light-main" >
    <div class="card-body">


<div class="container col-xxl-8 mt-3 px-2 py-2">
    <div class="row flex-lg-row-reverse align-items-center g-2 py-2">
        <div class="col-2 col-sm-8 col-lg-4">
            <img src="{{ url_for('static', filename='favicon.png') }}" class="d-block mx-lg-auto img-fluid"  width="100" height="100" loading="lazy">

        </div>
        <div class="col-12 col-lg-8">
            <h3 class="display-12 fw-bold lh-1 mb-3">Добро пожаловать в LAB</h3>
            <p class="lead">Learn A/B – это коллекция статей и заданий по дизайну, проведению и анализу A/B-экспериментов</p>

        </div>
    </div>
</div>
    </div>
</div>

<div class="container mt-3">
<!--    <h1> Материалы про A/B-тестирование </h1>-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-3" >
        {% for el in posts %}

        <div class="col mb-3">
            <div class="card border-light mb-3 shadow-sm" style="height: 14rem;">
                <!--                     <div class="card-header">Теория</div>-->
                <div class="header-div mt-1">
                    <h5>

                        {% if el.is_practice %}
                        <span class="badge badge-success">Практика</span>
                        {% else %}
                        <span class="badge badge-primary">Теория</span>

                        {% endif %}


                    </h5>
                </div>
                <a style='text-decoration:none' href="/posts/{{el.id}}">
                    <div class="card-body text-secondary">
                        <h5 class="card-title text-dark">{{el.title}}</h5>
                        <p class="card-text">{{el.preview_text}}</p>
                         </div>
                </a>
            </div>
        </div>


        {% endfor %}

<!--        <div class="col mb-3">-->
<!--            <div class="card border-light mb-3 shadow-sm" style="height: 14rem;">-->
<!--                &lt;!&ndash;                     <div class="card-header">Теория</div>&ndash;&gt;-->
<!--                <div class="header-div mt-1">-->
<!--                    <h5>-->

<!--                        <span class="badge badge-success">Практика</span>-->



<!--                    </h5>-->
<!--                </div>-->
<!--                <a style='text-decoration:none' href="/posts/5">-->
<!--                    <div class="card-body text-secondary">-->
<!--                        <h5 class="card-title text-dark">Подсчет выборки с Python</h5>-->
<!--                        <p class="card-text">Используем среду Google Colab и базовые статистические пакеты в Python, чтобы рассчитать размер выборки для эксперимента</p>-->
<!--                    </div>-->
<!--                </a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}